# Project artifacts
**/dist/
**/node_modules/

# code coverage
/coverage
report.json

# Random excess stuff
.DS_Store
.idea/
.vscode/
yarn-error.log

# Cloudflare
.wrangler
.dev.vars*
.env*

# E2E Test results
/test-results

# E2E related temporary files
/e2e-deploy
