<html lang='en-US'>
<head>
    <meta charset='utf-8' />
    <title>Fingerprint Cloudflare Worker</title>
    <style>
        span {
            display: block;
            padding-top: 1em;
            padding-bottom: 1em;
            text-align: center;
        }
    </style>
</head>
<body>
<span>Your worker is deployed</span>
<span>Worker version: <%= locals.workerVersion %></span>
<% if(locals.isAllVarsAvailable) { %>
    <span>All environment variables are set</span>
<% } else { %>
    <span>The following environment variables are not defined. Please reach out our support team.</span>
    <% if (!locals.isWorkerPathAvailable) { %>
        <span>WORKER_PATH variable is not defined</span>
    <% } %>
    <% if (!locals.isScriptDownloadPathAvailable) { %>
        <span>SCRIPT_DOWNLOAD_PATH variable is not defined</span>
    <% } %>
    <% if (!locals.isGetResultPathAvailable) { %>
        <span>GET_RESULT_PATH variable is not defined</span>
    <% } %>
<% } %>
<span>Please reach out our support via <a href='mailto:support@fingerprint.com'>support@fingerprint.com</a> if you have any issues</span>
</body>
</html>
